* {
    font-family: "Gugi", sans-serif;
    color: white;
}

body {
    flex-direction: row;
    font-size: 2rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    padding: 10px;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #1f1f1f 10%, #1d1d1d 20%, #000000 50%);
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    gap: 10px;
    aspect-ratio: 2 / 1; /* Aspect ratio of 2:1 */
    width: 50%;
}

#multPrivateGameMakeRoom {
    grid-column: 1 / 2; /* Position in the first column */
    grid-row: 1 / 3;
}

#multPrivateJoinRoom {
    grid-column: 2 / 3; /* Position in the first column */
    grid-row: 1 / 2;
}

#room {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

button {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: #1B1B1B;
    border: 2px solid #1B1B1B;
    color: white;
    transition: background-color 0.3s;
    font-size: 1.2em;
}

button:hover {
    background-color: black;
    border: 2px solid;
    border-image: linear-gradient(to right, #ff7e5f, #0a4236) 1;
}

input[type="text"] {
    background-color: #424242;
    padding: 10px;
    font-size: 2rem;
    width: 100%; /* Take full width of the grid column */
    border: none;
    box-sizing: border-box;
    color: white;
}