* {
    font-family: "Gugi", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #1f1f1f 10%, #1d1d1d 20%, #000000 50%);
    color: white;
    font-weight: 100;
}

.rank-left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 250px; /* Fixed width for the left div */
    background-color: transparent; /* Background color for the left div */
    padding: 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 3000px; /* Adjust as necessary */
    width: 75%; /* Occupy 3/4 of the window width */
    height: 100%;
    flex-wrap: wrap; /* Allows wrapping to next line */
}

.user-info {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.user-info {
    display: none;
}

#profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px; /* Space between the image and the next block */
}

#rank-block, #info-block {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin-right: 20px; /* Space between blocks */
}

#rank-block {
    margin-right: 20px; /* Space between the rank block and info block */
}

#info-block {
    align-items: flex-start; /* Align text to the left */
}

#info-block p {
    margin: 0; /* Remove default margins for paragraphs */
}

#info-block #user-score {
    margin-top: 5px; /* Small space between name and score */
}



.ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2 1 300px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.ranking-box {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.ranker {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.name-score {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.score {
    font-size: 14px;}

.rank {
    font-weight: bold;
    margin-right: 10px;
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: black;
}
