* {
    font-family: "Gugi", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color:white;
    background-image: linear-gradient(to bottom, #1f1f1f 10%, #1d1d1d 20%, #000000 50%);
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
    color: white;
}

.title-container h1 {
    font-size: 4em;
    margin: 0;
}

p {
    font-size: 1rem;
    color: gray;
}

.button-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
}

.upper-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 5;
    gap: 10px;
}

.upper-row button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    cursor: pointer;
}

.upper-row button p {
    margin: 5px 0 0 0;
    font-size: 14px; /* Adjust the size of the subtext */
    color: #cccccc; /* Slightly different color for subtext */
}

.upper-row button p:first-of-type {
    margin-top: 10px; /* Add some space between the main text and the subtext */
}

.lower-row {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    align-items: center;
    flex: 1;
    gap: 10px;
    width: 100%;
    height: 100%;
}

#addGame {
    width: 100%;
    height: 100%;
    grid-column: 1 / 2; /* Position in the first column */
}

#ranking {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3; /* Position in the first column */
}

#form {
    width: 100%;
    height: 100%;
    grid-column: 3 / 4; /* Position in the first column */
}

button {
    flex: 1;
    height: 100%;
    cursor: pointer;
    background-color: #1B1B1B;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: black;
}

#start {
    flex: 1;
    font-size: 2em;
}

#multGame {
    flex: 1;
    font-size: 2em;
}

#multPrivateGame {
    flex: 1;
    font-size: 2em;
}

#addGame {
    flex: 1;
    font-size: 1em;
}

#ranking {
    flex: 1;
    font-size: 1em;
}



.profile-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: none
}

.profile-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.card {
    display: none;
    position: absolute;
    top: 70px;
    right: 10px;
    width: 200px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.card-content {
    padding: 15px;
}

#logout-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #c00;
    color: white;
}

.login-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#custom-signin {
    display: flex;
}





/* Mobile styles (for narrow screens) */
@media only screen and (max-width: 768px), 
       only screen and (max-device-width: 768px),
       only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
    .button-container {
        overflow-x: auto;
        padding: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .upper-row, .lower-row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%; /* Ensure the rows take up full width */
        font-size: 1rem;
    }

    .upper-row button {
        width: 100%;
        aspect-ratio: 3 / 2; /* Apply 3:2 aspect ratio */
    }

    .lower-row button {
        width: 100% !important;
        aspect-ratio: 6 / 1 !important;
    }
    #addGame {
        font-size: 1rem;
    }
    
    #ranking {
        font-size: 1rem;
    }
    
    #form {
        font-size: 1rem;
    }

    button {
        border: 5px solid white;
        color: white;
        border-radius: 15px;
        transition: 0.3s;
    }
}

