<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"> <!-- character encoding -->
   
    <meta name="description" content="Basic HTML5 Document">
    <meta name="keywords" content="HTML5, Responsive">
    <link rel="stylesheet" href="/css/styles.css">
    <title>NolTo Main</title>
</head>

<body>
    <div class="centered">
        <button id="start">Start Game</button>
        <button id="multGame">Multiplayer Game</button>
        <button id="addGame">Add Game</button>
        <div id="login">
            <button class="login_button">google login</button>
        </div>
    </div>

    <script>
        // JavaScript to handle the button click event
        document.getElementById('start').addEventListener('click', function() {
            window.location.href = '/songList';  // Change this URL to the desired page
        });

        document.getElementById('addGame').addEventListener('click', function() {
            window.location.href = '/addGame';  // Change this URL to the desired page
        });

        document.getElementById('multGame').addEventListener('click', function() {
            window.location.href = '/multGame';  // Change this URL to the desired page
        });
    </script>
</body>
</html>


